<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="sqltabledependency.Properties.Settings.TheConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=tableDependencyTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
     <add name="TheConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=tableDependencyTest;Integrated Security=False;User ID=sa;Password=admin;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>